<div class="container">
    <div class="row" style="background-color: lightgrey;">
        <img src={{this.album.imageAlbUrl}} class="col-6">
        <div class="col">
            <h1 class="col" style="margin: 25px;">{{this.album.nameAlb}}</h1>
            <div class="row">
                <h4 *ngIf="this.album.artists.length == 1" class="col-2">Artista:</h4> 
                <h4 *ngIf="this.album.artists.length >  1" class="col-2">Artistas:</h4>
                <div *ngFor="let artist of this.album.artists">
                    <p (click)="navArtist(artist.idArt)" class="col">{{artist.nameArt}}</p>
                </div>
                <p class="col-12">Fecha de lanzamiento: {{this.album.releaseDate}}</p>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Canción</th>
            <th scope="col">Preview</th>
            <th scope="col">Duración</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of this.album.tracks; let i = index" scope="row">
            <th scope="row">{{i + 1}}</th>
            <td>{{track.nameTrack}}</td>
            <td>{{track.previewUrl}}</td>
            <td>{{track.duration}}</td>
          </tr>
        </tbody>
      </table>
</div>