/* You can add global styles to this file, and also import other style files */


/* Validaciones de Datos */
.ng-valid:not(form).ng-touched{
    border-left: 5px solid #5ae737; /*Datos validos: verde*/
}
.ng-invalid:not(form).ng-touched{
    border-left: 5px solid #e73737; /*Datos erroneos: rojo*/
}

html, body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1 0 auto;
    min-height:  80vh;
  }

  .footer{
    flex-shrink: 0;
  }